In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas.tools.plotting import scatter_matrix
from scipy.stats import gaussian_kde

In [2]:
df_t = pd.read_csv('data/cleaned/cleaned_trips.csv', parse_dates=['datetime'], infer_datetime_format=True)

In [103]:
len(df_t.ix[(df_t['tripduration'] >= 4) & (df_t['tripduration'] <= 60),:])
len(df_t.ix[(df_t['from_station_id'] != df_t['to_station_id']) & (df_t['tripduration'] >= 4) & (df_t['tripduration'] <= 60), :])

116268

In [3]:
df_t['hour'].unique()

array([10, 11, 12, 13, 14, 15, 17, 19,  7,  8,  9, 16, 22, 23, 21,  0,  1,
       20, 18,  4,  3,  2,  6,  5])

In [27]:
plt.hist(df_t['hour'], bins=50)
plt.show()

In [ ]:
pd.cut(df_t['hour'],[0,6,10,15,19] , include_lowest=True, right=True)

In [28]:
#df_t['hour'] = pd.cut(df_t['hour'],[0,6,10,15,19] , include_lowest=True, right=True)

NameError: name 'df_w' is not defined

In [15]:
eco_dict = {'Seattle': 0, 'Udist': 1, 'Outliers': -1}
eco_list=['Seattle']
eco_list = [eco_dict[x] for x in eco_list]

In [17]:
len(df_t.ix[(df_t['ecosystem_to'].isin(eco_list)) & (df_t['ecosystem_from'].isin(eco_list)),:])

124339

In [26]:
usertypes=['Short-Term Pass Holder']
df_t.ix[df_t['usertype'].isin(usertypes),:]

55230

In [35]:
print list(df_w.columns)

['datetime', 'TEMP', 'SPD', 'PCP01', 'CLG', 'DIR', 'VSB', 'DEWP', 'SLP', 'STP']

In [38]:
df_w.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9529 entries, 0 to 9528
Data columns (total 10 columns):
datetime    9529 non-null datetime64[ns]
TEMP        9529 non-null float64
SPD         9528 non-null float64
PCP01       9073 non-null float64
CLG         9527 non-null float64
DIR         8327 non-null float64
VSB         9529 non-null float64
DEWP        9529 non-null float64
SLP         9528 non-null float64
STP         9528 non-null float64
dtypes: datetime64[ns](1), float64(9)
memory usage: 818.9 KB

In [ ]:
df_t.ix[df_t['ecosystem_to'].isin()]

In [ ]:
def remove_trip_outliers(df, duration=[3, 60], same=False):
    # subset by min/max duration
    df = df.ix[(df_t['tripduration'] >= duration[0]) & (df_t['tripduration'] <= duration[1]),:]
    
    #remove trips with same origin and destination
    if same:
        df = df.ix[df_t['from_station_id'] != df_t['to_station_id'], :]
    return df

In [97]:
len(df_t)

141943

In [30]:
df_w = pd.read_csv('data/cleaned/cleaned_weather.csv', parse_dates=['datetime'], infer_datetime_format=True)

In [70]:
df_c = pd.read_csv('data/raw/clusters.csv')

In [69]:
df_c.rename(columns={'big_cluster': 'ecosystem', 'smallgroups': 'cluster'}, inplace = True)
df_c.to_csv('data/raw/clusters.csv', index= False)

In [104]:
# df = df_t.merge(df_c[['dockcount','elevation','cluster','ecosystem','terminal']], left_on = 'from_station_id', right_on = 'terminal',  how='left')
# # df.drop('terminal', axis=1, inplace=True)
# df.merge(df_c[['terminal', 'cluster', 'ecosystem']], left_on ='to_station_id', right_on='terminal', suffixes=['_from','_to'])

In [131]:
# Convert columns and create hour column
#df_trips['date'] = df_trips['starttime'].str.replace('\s.*','')
df_trips['starttime'] = pd.to_datetime(df_trips['starttime'])

In [135]:
df_trips['tripduration'] = df_trips['tripduration'] / float(60)

In [1]:
df_trips = df_trips.drop(['from_station_name', 'to_station_name', 'trip_id'], axis = 1)


df_trips['hour'] = df_trips['starttime'].map(lambda x: x.hour)

df_trips = df_trips.ix[(df_trips['tripduration'] > 4) & (df_trips['tripduration'] < 120) , :]
df_trips = df_trips.ix[(df_trips['usertype'] =='Annual Member') &  (df_trips['from_station_id'] != df_trips['to_station_id']), :]

# Group by to get totals per day, per hour, per station
#df= df_trips.groupby(['date','hour','from_station_id'])['bikeid'].count().reset_index()

df = df_trips
# rename columns 
df = df.rename(columns = {'from_station_id': 'terminal', 'bikeid': 'count'})

#remove pronto shop columns
df = df.ix[~df['terminal'].isin(['UW-01','Pronto shop']),:]
df['count'] = 1

# Get list of terminals and hours
terminals = df['terminal'].unique()
hours = df['hour'].unique()

Index([u'trip_id', u'starttime', u'stoptime', u'bikeid', u'tripduration',
       u'from_station_name', u'to_station_name', u'from_station_id',
       u'to_station_id', u'usertype', u'gender', u'birthyear'],
      dtype='object')

In [3]:
df_h = pd.read_table('../open_data_year_one/hw.txt',sep=' ', error_bad_lines= False, index_col=False)

In [97]:
df_h.ix[]

,USAF,WBAN,YR--MODAHRMN,DIR,SPD,GUS,CLG,SKC,L,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,727930,24233,201410010000,020,8,***,***,BKN,*,*,...,1019.8,*****,1002.9,67,54,*****,*****,*****,*****,**
1,727930,24233,201410010053,040,8,***,722,SCT,*,*,...,1019.9,30.10,1003.5,***,***,0.00,*****,*****,*****,**
2,727930,24233,201410010153,080,5,***,722,SCT,*,*,...,1020.4,30.12,1004.1,***,***,0.00,*****,*****,*****,**
3,727930,24233,201410010253,070,6,***,75,***,*,*,...,1021.0,30.14,1004.8,***,***,0.00,*****,*****,*****,**
4,727930,24233,201410010353,080,8,***,80,***,*,*,...,1021.6,30.15,1005.1,***,***,0.00,*****,*****,*****,**

In [4]:
df_h = df_h.replace('\*+|T', np.nan, regex=True)

In [40]:
df_h.ix[df_h['TEMP'] == '****', 'TEMP'] = np.nan
df_h.ix[df_h['SPD'] == '***', 'SPD'] = np.nan
df_h.ix[df_h['PCP01'].isin(['****','0.00T*****','0.00T','*****']), 'PCP01'] = np.nan
df_h.ix[df_h['CLG'] == '***', 'CLG'] = np.nan

In [41]:
df_h['TEMP'] = df_h['TEMP'].astype(float)
df_h['TEMP'].hist()
plt.show()

In [5]:
df_h['SPD'] = df_h['SPD'].astype(float)
df_h['SPD'].hist()
#plt.show()

In [45]:
df_h['PCP01'] =  df_h['PCP01'].astype(float)
df_h['PCP01'].hist(bins = 100)
#plt.show()

In [46]:
df_h['CLG'] =  df_h['CLG'].astype(float)
df_h['CLG'].hist(bins = 100)
#plt.show()

In [ ]:
df_h = df_h[['TEMP','SPD','PCP01','CLG','DIR','VSB','DEWP','SLP','STP']].astype(float)

In [239]:
df_h['YR--MODAHRMN'][:5]

0    201410010000
1    201410010053
2    201410010153
3    201410010253
4    201410010353
Name: YR--MODAHRMN, dtype: int64

In [262]:
x = pd.to_datetime(df_h['YR--MODAHRMN'][:10], format='%Y%m%d%H%M')

In [290]:
def round_to_hour(x):
    if x.minute > 30:
        x = x.replace(minute=0)
        x = x + pd.offsets.Hour(1)
        
    else:
        x = x.replace(minute=0)
    return x

In [291]:
map(round_to_hour,x)

[Timestamp('2014-10-01 00:00:00'),
 Timestamp('2014-10-01 01:00:00'),
 Timestamp('2014-10-01 02:00:00'),
 Timestamp('2014-10-01 03:00:00'),
 Timestamp('2014-10-01 04:00:00'),
 Timestamp('2014-10-01 05:00:00'),
 Timestamp('2014-10-01 06:00:00'),
 Timestamp('2014-10-01 06:00:00'),
 Timestamp('2014-10-01 07:00:00'),
 Timestamp('2014-10-01 08:00:00')]

In [248]:
round_to_hour(df_h['YR--MODAHRMN'][:10])

DatetimeIndex([   '1970-01-01 00:03:21.410010',
               '1970-01-01 00:03:21.410010053',
               '1970-01-01 00:03:21.410010153',
               '1970-01-01 00:03:21.410010253',
               '1970-01-01 00:03:21.410010353',
               '1970-01-01 00:03:21.410010453',
               '1970-01-01 00:03:21.410010553',
               '1970-01-01 00:03:21.410010600',
               '1970-01-01 00:03:21.410010653',
               '1970-01-01 00:03:21.410010751'],
              dtype='datetime64[ns]', freq=None, tz=None)

In [102]:
df_h['rounded_time'] =pd.to_datetime(df_h['rounded_time'], format='%Y%m%d%H%M')

In [48]:
df_h = df_h[['rounded_time','TEMP','CLG','PCP01','SPD']]

In [49]:
df_h = df_h.groupby(['rounded_time']).mean().reset_index()

   rounded_time  TEMP  CLG  PCP01
0  201410010000    65  722      0
1  201410010100    62  722      0
2  201410010200    61   75      0
3  201410010300    61   80      0
4  201410010400    59   55      0

In [12]:
datetimes =  df_h['rounded_time']

In [13]:
# create new full index and reindex
full_index = pd.MultiIndex.from_product([datetimes, terminals], names=['datetime', 'terminal'])

In [14]:
df_h['terminal'] = 'BT-01'
df_h.index = [df_h.rounded_time, df_h.terminal]

In [15]:
df_h.drop(['terminal','rounded_time'], axis = 1, inplace = True)
df_h = df_h.reindex(full_index)
df_h = df_h.reset_index()
df_h = df_h.ix[:438000,:]

In [16]:
df_h['datetime'] = df_h['datetime'].astype(str)

In [17]:
count = 0
s = 1
for date in df_h['datetime'].unique()[8001:]:
    df_h.ix[df_h.datetime == date, ~df_h.columns.isin(['datetime','terminal'])] = df_h.ix[(df_h.datetime == date) & (df_h.terminal == 'BT-01'), ~df_h.columns.isin(['datetime','terminal'])].values
    count += 1
    if count > 1000 * s:
        s += 1
        print count

In [18]:
df['date'] = pd.to_datetime(df['date'])

In [19]:
df['datetime'] = df['date'] + map(lambda x:pd.to_timedelta(int(x), unit='h'), df.hour)

In [20]:
df_h['datetime'] = pd.to_datetime(df_h['datetime'])

In [21]:
df = df[['terminal', 'datetime', 'count']]

In [22]:
df_final = df_h.merge(df, on = ['datetime','terminal'], how = 'left')

In [23]:
df_final['count'] = df_final['count'].fillna(0)

In [24]:
df_final.to_csv('annnual_members.csv', index= False)

In [37]:
#dff = pd.read_csv('weather_count.csv')

In [1]:
df_c = pd.read_csv('../clusters.csv')
df_t.merge(df_c[['dockcount','elevation','smallgroups','big_cluster','terminal']], on = 'terminal', how='left')

NameError: name 'pd' is not defined

In [27]:
#dff = pd.read_csv('weather_count.csv')

In [28]:
dff['datetime'] = pd.to_datetime(dff['datetime'])
dff['hour'] = map(lambda x: x.hour, dff['datetime'])
dff['dow'] = map(lambda x: x.dayofweek, dff['datetime'])
dff['month'] = map(lambda x: x.month, dff['datetime'])

In [216]:
hour_average = dff.groupby(['hour','terminal'])['count'].mean().reset_index()
hour_average.columns = ['hour','terminal', 'hour_avg']

month_average = dff.groupby(['month','terminal'])['count'].mean().reset_index()
month_average.columns = ['month','terminal', 'month_avg']

dow_average = dff.groupby(['dow','terminal'])['count'].mean().reset_index()
dow_average.columns = ['dow','terminal', 'dow_avg']

sg_hour = dff.groupby(['hour','smallgroups'])['count'].mean().reset_index()
sg_hour.columns = ['hour','smallgroups', 'sg_avg']

In [294]:
dff = dff.sort('datetime')
df_a = dff.merge(hour_average, on = ['hour','terminal']).merge(month_average, on = ['month', 'terminal']).merge(dow_average, on =['dow','terminal']).merge(sg_hour, on =['hour','smallgroups'])

In [219]:
df_a.to_csv('BEST_DATA.csv', index = False)

In [226]:
df_a = df_a.drop('count', axis = 1)

df_test = df_a.merge(df, on = ['datetime','terminal'], how = 'left')

In [234]:
df_test.to_csv('df_test.csv', index = False)

In [30]:
dff.head()

,datetime,terminal,TEMP,CLG,PCP01,SPD,count,dockcount,elevation,smallgroups,big_cluster,hood,hour,dow,month
0,2014-10-01,CBD-06,NaN,NaN,NaN,NaN,0,20,25.305275,4,0,CBD,0,2,10
1,2014-10-01,PS-04,NaN,NaN,NaN,NaN,0,18,8.136753,4,0,PS,0,2,10
2,2014-10-01,CBD-07,NaN,NaN,NaN,NaN,0,18,31.532837,4,0,CBD,0,2,10
3,2014-10-01,PS-05,NaN,NaN,NaN,NaN,0,18,11.623115,4,0,PS,0,2,10
4,2014-10-01,CBD-05,NaN,NaN,NaN,NaN,0,20,9.812873,4,0,CBD,0,2,10

In [177]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import cross_val_score, train_test_split
from sklearn.grid_search import GridSearchCV, RandomizedSearchCV
from scipy.stats import randint as sp_randint
from sklearn.metrics import roc_curve
from sklearn.metrics import confusion_matrix

In [295]:
df_a = df_a.ix[(df_a['hood'] != 'UW') & (df_a['hour'].isin([7,8,9,10,11,4,5,6,7])), :]
df_r = df_a[['TEMP', 'CLG', 'PCP01', 'SPD', 'count', 'dockcount', 'elevation','hour_avg', 'month_avg', 'dow_avg','sg_avg']]

In [296]:
df_r.loc[df_r['count'] > 0, 'count'] = 1
df_r = df_r.fillna(0)

In [297]:
y = df_r['count']
X = df_r.drop('count', axis = 1)

In [298]:
weights = float(len(y))/(2*np.bincount(y.astype(int)))
weights = dict(zip([0,1],weights))
rf = RandomForestClassifier(n_jobs=-1, class_weight= weights,  n_estimators= 50, oob_score=True, criterion='entropy')

In [299]:
X_t, X_h,y_t, y_h = train_test_split(X,y, test_size=0.2)

In [300]:
cv = cross_val_score(rf, X_t,y_t, n_jobs=-1,cv = 3, scoring = 'roc_auc')

In [301]:
cv.mean()

0.87145635880509875

In [ ]:
# specify parameters and distributions to sample from
param_grid = {"max_depth": [3, None],
              "max_features": [1, 3, 9],
              "min_samples_split": [1, 3, 10],
              "min_samples_leaf": [1, 3, 10],
              "criterion": ["gini", "entropy"]}
# run randomized search
random_search = GridSearchCV(rf, param_grid=param_grid, n_jobs=-1, verbose = True)

In [ ]:
random_search.fit(X_t,y_t)

In [ ]:
rf = RandomForestClassifier(bootstrap=True,
            class_weight={0: 0.59739085366685307, 1: 3.0669761644679721},
            criterion='entropy', max_depth=None, max_features='auto',
            max_leaf_nodes=None, min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=-1,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

In [302]:
rf.fit(X_t,y_t)

RandomForestClassifier(bootstrap=True,
            class_weight={0: 0.58402051843480718, 1: 3.4754636683654705},
            criterion='entropy', max_depth=None, max_features='auto',
            max_leaf_nodes=None, min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=-1,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

In [303]:
preds = rf.predict(X_h)

In [310]:
preds = pd.Series(preds)

In [305]:
preds = rf.predict_proba(X_h)[:,1]
fpr, tpr, _ = roc_curve(y_h,preds)
plt.plot(fpr,tpr)
plt.show()

In [306]:
preds[preds > .35] = 1
preds[preds <= .35] = 0
confusion_matrix(y_h,preds)

array([[21014,  1680],
       [ 1683,  2083]])

In [311]:
#### examine where model fails

index = df_a.ix[X_h.index, ['terminal','smallgroups','big_cluster','hour','dow','month','hood']]

In [312]:
df_p = pd.concat([X_h.reset_index(),preds,y_h.reset_index(), index.reset_index()], axis = 1)

In [313]:
df_p['correct'] = 0
df_p.ix[df_p['count'] == df_p[0], 'correct'] = 1
df_s = df_p.ix[df_p['count'] == 1, :]

In [314]:
df_s.groupby(['terminal'])['correct'].mean()

terminal
BT-01     0.618644
BT-03     0.707483
BT-04     0.322581
BT-05     0.473118
CBD-03    0.307692
CBD-04    0.000000
CBD-05    0.663717
CBD-06    0.138462
CBD-07    0.122449
CBD-13    0.481132
CD-01     0.250000
CH-01     0.568627
CH-02     0.659218
CH-03     0.735714
CH-05     0.708075
CH-06     0.606383
CH-07     0.831858
CH-08     0.764331
CH-09     0.151515
CH-12     0.516129
CH-15     0.694030
DPD-01    0.269231
DPD-03    0.000000
EL-01     0.000000
EL-03     0.544118
EL-05     0.119048
FH-01     0.294872
FH-04     0.800000
ID-04     0.045455
PS-04     0.085106
PS-05     0.577465
SLU-01    0.445783
SLU-02    0.710526
SLU-04    0.052632
SLU-07    0.204082
SLU-15    0.711268
SLU-16    0.682927
SLU-17    0.117647
SLU-18    0.520548
SLU-19    0.652174
SLU-20    0.150000
UD-01     0.200000
UD-02     0.000000
UD-04     0.631579
UD-07     0.219512
WF-01     0.507246
WF-04     0.066667
Name: correct, dtype: float64

In [315]:
for i,j in zip(X.columns, rf.feature_importances_):
    print i, j

TEMP 0.130758071482
CLG 0.085450207658
PCP01 0.0155823355456
SPD 0.0948448739228
dockcount 0.0157434811651
elevation 0.0370093660695
hour_avg 0.225918482019
month_avg 0.141628198645
dow_avg 0.151840456662
sg_avg 0.101224526831

In [45]:
df_t = pd.read_csv('data/cleaned/cleaned_trips.csv', parse_dates=['datetime'], infer_datetime_format=True)

In [4]:
df_w = pd.read_csv('data/cleaned/cleaned_weather.csv', parse_dates=['datetime'], infer_datetime_format=True)

In [32]:
datetimes = df_w['datetime']
terminals = df_t['from_station_id'].unique()

In [33]:
import time
t0 = time.clock()
full_index = pd.MultiIndex.from_product([datetimes, terminals], names=['datetime', 'terminal'])
print time.clock() - t0, "seconds process time"

0.007196 seconds process time

In [132]:
df_t['dow'] = map(lambda x: x.dayofweek, df_t['datetime'])
df_t['month'] = map(lambda x: x.month, df_t['datetime'])

In [62]:
df_t['count'] = 1
#df_t= df_t.rename(columns={'from_station_id': 'terminal'})

In [85]:
df_test = df_t.groupby(['terminal','dow','hour','month'])['count'].sum().reset_index()

In [ ]:
df_test.set_index(['datetime', 'terminal'], inplace=True)

In [105]:
df_test = df_t.groupby(['terminal','datetime'])['count'].sum().reset_index()

In [47]:
df_md= df_t[['dockcount_from', 'from_station_id','elevation_from', 'cluster_from', 'ecosystem_from']].drop_duplicates()
df_md.rename(columns={'from_station_id': 'terminal','elevation_from': 'elevation', 'cluster_from': 'cluster', 'ecosystem_from': 'ecosystem', 'dockcount_from': 'dockcount'},inplace=True)
df_ms = df_t[['dockcount_to', 'to_station_id','elevation_to', 'cluster_to', 'ecosystem_to']].drop_duplicates()
df_ms.rename(columns={'to_station_id': 'terminal','elevation_to': 'elevation', 'cluster_to': 'cluster', 'ecosystem_to': 'ecosystem', 'dockcount_to': 'dockcount'}, inplace=True)

In [159]:
df = pd.DataFrame(index=full_index).reset_index()
df = df.merge(df_d, on=['datetime','terminal'], how='left')

In [173]:
df['dow'] = map(lambda x: x.dayofweek, df['datetime'])
df['month'] = map(lambda x: x.month, df['datetime'])

hour_average = dff.groupby(['hour','terminal'])['count'].mean().reset_index()
hour_average.columns = ['hour','terminal', 'hour_avg']

month_average = dff.groupby(['month','terminal'])['count'].mean().reset_index()
month_average.columns = ['month','terminal', 'month_avg']

dow_average = dff.groupby(['dow','terminal'])['count'].mean().reset_index()
dow_average.columns = ['dow','terminal', 'dow_avg']

hour_average.merge(month_average, on='terminal').merge(dow_avg, on='terminal')

KeyError: 'terminal'

In [96]:
df_d = df_t.groupby(['from_station_id','datetime'])['count'].sum().reset_index()
df_d.rename(columns={'from_station_id': 'terminal'}, inplace=True)
df.ix[df['count'].isnull(), 'count'] = 0

In [101]:
hours=[0, 6, 10, 15, 19, 23]

In [160]:
df['hour'] = df['datetime'].map(lambda x: x.hour)
df['date'] = df['datetime'].map(lambda x: x.strftime('%d-%m-%Y'))
df['hour'] = pd.cut(df['hour'], hours, include_lowest=True, right=True, labels=['Early', 'Commute_to_work', 'Afternoon', 'Commute_from_work', 'Night'])
df['hour'] = df['hour'].astype('str')
dff = df.groupby(['date', 'terminal', 'hour'])['count'].sum()
dff =dff.reset_index()

In [138]:
sum(dff['count'] == 0)/float(len(dff['count']))

0.53067903898719604

In [147]:
#dff.merge(df_md, on='terminal')

In [163]:
df = df.merge(df_w, on='datetime')
df['hour'] = df['datetime'].map(lambda x: x.hour)
df['date'] = df['datetime'].map(lambda x: x.strftime('%d-%m-%Y'))
df['hour'] = pd.cut(df['hour'], hours, include_lowest=True, right=True, labels=['Early', 'Commute_to_work', 'Afternoon', 'Commute_from_work', 'Night'])
df['hour'] = df['hour'].astype('str')
dff = df.groupby(['date', 'hour']).mean()
dff =dff.reset_index()

In [155]:
dff = df.groupby(['date', 'hour']).mean()
dff =dff.reset_index()

In [162]:
df1 = dff.copy()

In [179]:
df['date'] = pd.to_datetime(df['date'])
df['dow'] = map(lambda x: x.dayofweek, df['date'])
df['month'] = map(lambda x: x.month, df['date'])

hour_average = df.groupby(['hour','terminal'])['count'].mean().reset_index()
hour_average.columns = ['hour','terminal', 'hour_avg']

month_average = df.groupby(['month','terminal'])['count'].mean().reset_index()
month_average.columns = ['month','terminal', 'month_avg']

dow_average = df.groupby(['dow','terminal'])['count'].mean().reset_index()
dow_average.columns = ['dow','terminal', 'dow_avg']

a = hour_average.merge(month_average, on='terminal').merge(dow_average, on='terminal')

In [192]:
a = month_average.pivot(index='month', columns='terminal', values='month_avg')

In [193]:
a.to_dict()

{'BT-01': {1: 1.6973684210526316,
  2: 1.8627450980392157,
  3: 1.8928571428571428,
  4: 2.133047210300429,
  5: 2.0840336134453783,
  6: 2.1490909090909089,
  7: 2.4964285714285714,
  8: 2.1677852348993287,
  9: 2.0701754385964914,
  10: 1.8251748251748252,
  11: 1.78,
  12: 1.8846153846153846},
 'BT-03': {1: 1.5698324022346368,
  2: 1.4545454545454546,
  3: 1.4860335195530727,
  4: 1.6905829596412556,
  5: 1.7130044843049328,
  6: 1.6175115207373272,
  7: 1.6450216450216451,
  8: 1.7322175732217573,
  9: 1.6359223300970873,
  10: 1.4438775510204083,
  11: 1.3920454545454546,
  12: 1.3888888888888888},
 'BT-04': {1: 1.2307692307692308,
  2: 1.3513513513513513,
  3: 1.375,
  4: 1.4102564102564104,
  5: 1.263157894736842,
  6: 1.4444444444444444,
  7: 1.5538461538461539,
  8: 1.3169014084507042,
  9: 1.436241610738255,
  10: 1.2671232876712328,
  11: 1.2830188679245282,
  12: 1.2413793103448276},
 'BT-05': {1: 1.4459459459459461,
  2: 1.5192307692307692,
  3: 1.5394736842105263,
  4: 1.6464088397790055,
  5: 1.5080213903743316,
  6: 1.5115207373271888,
  7: 1.5343915343915344,
  8: 1.5055555555555555,
  9: 1.5664739884393064,
  10: 1.4172185430463575,
  11: 1.5726495726495726,
  12: 1.3032786885245902},
 'CBD-03': {1: 1.4024390243902438,
  2: 1.3904109589041096,
  3: 1.368421052631579,
  4: 2.0,
  5: 1.5033112582781456,
  6: 1.5507246376811594,
  7: 1.5776397515527951,
  8: 1.624203821656051,
  9: 1.4850746268656716,
  10: 1.5212121212121212,
  11: 1.304,
  12: 1.3548387096774193},
 'CBD-04': {1: 1.5555555555555556,
  2: 2.0,
  3: 1.5,
  4: 1.3529411764705883,
  5: 1.5714285714285714,
  6: 1.2222222222222223,
  7: 1.6388888888888888,
  8: 1.8272727272727274,
  9: 1.7959183673469388,
  10: 2.0,
  11: 2.0,
  12: 1.3333333333333333},
 'CBD-05': {1: 1.3274336283185841,
  2: 1.4311926605504588,
  3: 1.5272727272727273,
  4: 1.6582278481012658,
  5: 1.625,
  6: 1.4535519125683061,
  7: 1.5104166666666667,
  8: 1.5925925925925926,
  9: 1.5208333333333333,
  10: 1.5063291139240507,
  11: 1.5,
  12: 1.6320754716981132},
 'CBD-06': {1: 1.4399999999999999,
  2: 1.4181818181818182,
  3: 1.5594405594405594,
  4: 1.6047904191616766,
  5: 1.4357541899441342,
  6: 1.6993464052287581,
  7: 1.5854922279792747,
  8: 1.5842105263157895,
  9: 1.4887218045112782,
  10: 1.5949367088607596,
  11: 1.4482758620689655,
  12: 1.2476190476190476},
 'CBD-07': {1: 1.5633802816901408,
  2: 1.4871794871794872,
  3: 1.4230769230769231,
  4: 1.4070796460176991,
  5: 1.3545454545454545,
  6: 1.6090909090909091,
  7: 1.59375,
  8: 1.4201680672268908,
  9: 1.3369565217391304,
  10: 1.4955752212389382,
  11: 1.3150684931506849,
  12: 1.3866666666666667},
 'CBD-13': {1: 1.732620320855615,
  2: 1.5233160621761659,
  3: 1.758139534883721,
  4: 2.0161290322580645,
  5: 1.8835341365461848,
  6: 1.8923076923076922,
  7: 2.0150943396226415,
  8: 1.8339622641509434,
  9: 1.7623318385650224,
  10: 1.742489270386266,
  11: 1.6107784431137724,
  12: 1.5389610389610389},
 'CD-01': {1: 1.0,
  2: 1.0833333333333333,
  3: 1.1111111111111112,
  4: 1.2307692307692308,
  5: 1.2903225806451613,
  6: 1.1632653061224489,
  7: 1.2272727272727273,
  8: 1.2372881355932204,
  9: 1.0862068965517242,
  10: 1.2307692307692308,
  11: 1.3,
  12: 1.2},
 'CH-01': {1: 1.4148148148148147,
  2: 1.4360902255639099,
  3: 1.5731707317073171,
  4: 1.4913294797687862,
  5: 1.3554216867469879,
  6: 1.4948453608247423,
  7: 1.484375,
  8: 1.4270833333333333,
  9: 1.4303797468354431,
  10: 1.4344827586206896,
  11: 1.4105263157894736,
  12: 1.3898305084745763},
 'CH-02': {1: 1.4571428571428571,
  2: 1.5769230769230769,
  3: 1.591549295774648,
  4: 1.596938775510204,
  5: 1.6610878661087867,
  6: 1.6378600823045268,
  7: 1.5977443609022557,
  8: 1.759090909090909,
  9: 1.548936170212766,
  10: 1.618421052631579,
  11: 1.5600000000000001,
  12: 1.3757575757575757},
 'CH-03': {1: 1.6120689655172413,
  2: 1.5350877192982457,
  3: 1.7913669064748201,
  4: 1.7753623188405796,
  5: 1.6788990825688073,
  6: 1.8266666666666667,
  7: 1.7341040462427746,
  8: 1.7972972972972974,
  9: 1.7272727272727273,
  10: 1.6736111111111112,
  11: 1.6499999999999999,
  12: 1.4489795918367347},
 'CH-05': {1: 1.423841059602649,
  2: 1.5661764705882353,
  3: 1.5172413793103448,
  4: 1.7032967032967032,
  5: 1.6703296703296704,
  6: 1.4869109947643979,
  7: 1.5333333333333334,
  8: 1.5758928571428572,
  9: 1.6534090909090908,
  10: 1.4540229885057472,
  11: 1.4689655172413794,
  12: 1.3404255319148937},
 'CH-06': {1: 1.3658536585365855,
  2: 1.1690140845070423,
  3: 1.2244897959183674,
  4: 1.2117647058823529,
  5: 1.2678571428571428,
  6: 1.4680851063829787,
  7: 1.353448275862069,
  8: 1.4757281553398058,
  9: 1.25,
  10: 1.3301886792452831,
  11: 1.1911764705882353,
  12: 1.25},
 'CH-07': {1: 1.6350710900473933,
  2: 1.4491978609625669,
  3: 1.5044642857142858,
  4: 1.642570281124498,
  5: 1.764,
  6: 1.588679245283019,
  7: 1.8498293515358362,
  8: 1.8254545454545454,
  9: 1.6578947368421053,
  10: 1.5732758620689655,
  11: 1.569060773480663,
  12: 1.553763440860215},
 'CH-08': {1: 1.4927536231884058,
  2: 1.5219780219780219,
  3: 1.3590909090909091,
  4: 1.7124999999999999,
  5: 1.5462555066079295,
  6: 1.6653846153846155,
  7: 1.8098591549295775,
  8: 1.6830985915492958,
  9: 1.5620155038759691,
  10: 1.5126903553299493,
  11: 1.6712328767123288,
  12: 1.5170068027210883},
 'CH-09': {1: 1.3115942028985508,
  2: 1.4420289855072463,
  3: 1.2802547770700636,
  4: 1.4904458598726114,
  5: 1.4567901234567902,
  6: 1.3223684210526316,
  7: 1.402061855670103,
  8: 1.4456521739130435,
  9: 1.4871794871794872,
  10: 1.4275862068965517,
  11: 1.2564102564102564,
  12: 1.3181818181818181},
 'CH-12': {1: 1.3053435114503817,
  2: 1.5510204081632653,
  3: 1.5789473684210527,
  4: 1.5476190476190477,
  5: 1.4745762711864407,
  6: 1.4430379746835442,
  7: 1.6336633663366336,
  8: 1.5685279187817258,
  9: 1.4829545454545454,
  10: 1.3493975903614457,
  11: 1.3189655172413792,
  12: 1.361904761904762},
 'CH-15': {1: 1.3235294117647058,
  2: 1.4845360824742269,
  3: 1.3577981651376148,
  4: 1.4098360655737705,
  5: 1.8396946564885497,
  6: 1.6687898089171975,
  7: 1.6046511627906976,
  8: 1.6374269005847952,
  9: 1.8641975308641976,
  10: 1.5,
  11: 1.4269662921348314,
  12: 1.4712643678160919},
 'DPD-01': {1: 1.4369747899159664,
  2: 1.2765957446808511,
  3: 1.4745762711864407,
  4: 1.536231884057971,
  5: 1.8034188034188035,
  6: 1.5303030303030303,
  7: 1.5460992907801419,
  8: 1.5909090909090908,
  9: 1.6048387096774193,
  10: 1.463768115942029,
  11: 1.4285714285714286,
  12: 1.4301075268817205},
 'EL-01': {1: 1.2,
  2: 1.4181818181818182,
  3: 1.3181818181818181,
  4: 1.5806451612903225,
  5: 1.5833333333333333,
  6: 1.4835164835164836,
  7: 1.6016260162601625,
  8: 1.6190476190476191,
  9: 1.4505494505494505,
  10: 1.375,
  11: 1.2962962962962963,
  12: 1.3833333333333333},
 'EL-03': {1: 1.4329896907216495,
  2: 1.696969696969697,
  3: 1.4519230769230769,
  4: 1.6190476190476191,
  5: 1.7142857142857142,
  6: 1.5789473684210527,
  7: 1.6013986013986015,
  8: 1.5524475524475525,
  9: 1.6209677419354838,
  10: 1.4903846153846154,
  11: 1.2790697674418605,
  12: 1.4731182795698925},
 'FH-01': {1: 1.2211538461538463,
  2: 1.3931623931623931,
  3: 1.2142857142857142,
  4: 1.3591549295774648,
  5: 1.2671755725190839,
  6: 1.2992125984251968,
  7: 1.28125,
  8: 1.3388429752066116,
  9: 1.2250000000000001,
  10: 1.353448275862069,
  11: 1.3100000000000001,
  12: 1.1517857142857142},
 'FH-04': {1: 1.2738095238095237,
  2: 1.3146067415730338,
  3: 1.2688172043010753,
  4: 1.3689320388349515,
  5: 1.3163265306122449,
  6: 1.5588235294117647,
  7: 1.4676258992805755,
  8: 1.4146341463414633,
  9: 1.3576158940397351,
  10: 1.3109243697478992,
  11: 1.3076923076923077,
  12: 1.25},
 'ID-04': {1: 1.3396226415094339,
  2: 1.4776119402985075,
  3: 1.3818181818181818,
  4: 1.6714285714285715,
  5: 1.5076923076923077,
  6: 1.4408602150537635,
  7: 1.5,
  8: 1.5194805194805194,
  9: 1.5285714285714285,
  10: 1.4204545454545454,
  11: 1.3898305084745763,
  12: 1.6981132075471699},
 'PS-04': {1: 1.5940594059405941,
  2: 1.5377358490566038,
  3: 1.5600000000000001,
  4: 1.6546762589928057,
  5: 1.6418918918918919,
  6: 1.6503496503496504,
  7: 1.624203821656051,
  8: 1.8116883116883118,
  9: 1.5423728813559323,
  10: 1.9370629370629371,
  11: 1.5106382978723405,
  12: 1.5252525252525253},
 'PS-05': {1: 1.5694444444444444,
  2: 1.3285714285714285,
  3: 1.3888888888888888,
  4: 1.5377358490566038,
  5: 1.6036036036036037,
  6: 1.4818181818181819,
  7: 1.6594202898550725,
  8: 1.5234375,
  9: 1.3,
  10: 1.3181818181818181,
  11: 1.352112676056338,
  12: 1.5660377358490567},
 'SLU-01': {1: 1.5766129032258065,
  2: 1.393939393939394,
  3: 1.3282051282051281,
  4: 1.4700854700854702,
  5: 1.5339366515837105,
  6: 1.6322869955156951,
  7: 1.7621145374449338,
  8: 1.5550847457627119,
  9: 1.4666666666666666,
  10: 1.5742574257425743,
  11: 1.5856353591160222,
  12: 1.554945054945055},
 'SLU-02': {1: 1.3596491228070176,
  2: 1.4485981308411215,
  3: 1.4083333333333334,
  4: 1.6282051282051282,
  5: 1.5133689839572193,
  6: 1.5945945945945945,
  7: 1.7065217391304348,
  8: 1.6818181818181819,
  9: 1.8074074074074074,
  10: 1.318840579710145,
  11: 1.4436090225563909,
  12: 1.3423423423423424},
 'SLU-04': {1: 1.5111111111111111,
  2: 1.4210526315789473,
  3: 1.5354330708661417,
  4: 1.6442953020134228,
  5: 1.7318840579710144,
  6: 1.7533333333333334,
  7: 1.7572254335260116,
  8: 1.6184971098265897,
  9: 1.5751633986928104,
  10: 1.5472972972972974,
  11: 1.4728682170542635,
  12: 1.336283185840708},
 'SLU-07': {1: 1.5128205128205128,
  2: 1.4842767295597483,
  3: 1.5911949685534592,
  4: 1.6847826086956521,
  5: 1.5297297297297296,
  6: 1.7431693989071038,
  7: 1.4761904761904763,
  8: 1.6616915422885572,
  9: 1.5025641025641026,
  10: 1.5294117647058822,
  11: 1.5517241379310345,
  12: 1.5},
 'SLU-15': {1: 1.6096256684491979,
  2: 1.569767441860465,
  3: 1.7095238095238094,
  4: 1.7933884297520661,
  5: 1.8712121212121211,
  6: 1.8087649402390438,
  7: 1.8682170542635659,
  8: 1.7795275590551181,
  9: 1.7734806629834254,
  10: 1.693069306930693,
  11: 1.6184971098265897,
  12: 1.4615384615384615},
 'SLU-16': {1: 1.3803680981595092,
  2: 1.5657894736842106,
  3: 1.4573991031390134,
  4: 1.8122448979591836,
  5: 1.5729729729729729,
  6: 1.4555555555555555,
  7: 1.5586854460093897,
  8: 1.5260416666666667,
  9: 1.5515151515151515,
  10: 1.4573643410852712,
  11: 1.3775510204081634,
  12: 1.4375},
 'SLU-17': {1: 1.5538461538461539,
  2: 1.4426229508196722,
  3: 1.5205479452054795,
  4: 1.9607843137254901,
  5: 1.7777777777777777,
  6: 1.7982456140350878,
  7: 1.6642335766423357,
  8: 1.5172413793103448,
  9: 1.6914893617021276,
  10: 1.7051282051282051,
  11: 1.6862745098039216,
  12: 1.540983606557377},
 'SLU-18': {1: 1.3956043956043955,
  2: 1.3063063063063063,
  3: 1.4700854700854702,
  4: 1.4429530201342282,
  5: 1.661764705882353,
  6: 1.4838709677419355,
  7: 1.4393939393939394,
  8: 1.4179104477611941,
  9: 1.5423728813559323,
  10: 1.3545454545454545,
  11: 1.3714285714285714,
  12: 1.4183673469387754},
 'SLU-19': {1: 1.3049645390070923,
  2: 1.5609756097560976,
  3: 1.4523809523809523,
  4: 1.6734693877551021,
  5: 1.7487684729064039,
  6: 1.6351351351351351,
  7: 1.5381165919282511,
  8: 1.7,
  9: 1.5815217391304348,
  10: 1.5179856115107915,
  11: 1.4793388429752066,
  12: 1.5585585585585586},
 'SLU-20': {1: 1.25,
  2: 1.25,
  3: 1.1499999999999999,
  4: 1.8421052631578947,
  5: 1.2352941176470589,
  6: 1.3506493506493507,
  7: 1.4851485148514851,
  8: 1.319327731092437,
  9: 1.3984962406015038,
  10: 1.1363636363636365,
  11: 1.2857142857142858,
  12: 1.3999999999999999},
 'SLU-21': {1: 1.0,
  2: 1.0,
  3: 1.5,
  4: 1.0,
  5: 1.0,
  6: 1.0,
  7: 1.0,
  8: 2.0,
  9: 1.5333333333333334,
  10: 1.5,
  11: 2.0,
  12: 1.6000000000000001},
 'WF-01': {1: 1.7,
  2: 1.8373983739837398,
  3: 1.8926174496644295,
  4: 2.0154639175257731,
  5: 2.0975609756097562,
  6: 1.9660194174757282,
  7: 2.1513761467889907,
  8: 1.9466019417475728,
  9: 2.0894736842105264,
  10: 1.7430555555555556,
  11: 1.9081632653061225,
  12: 1.8080808080808082},
 'WF-04': {1: 1.7916666666666667,
  2: 2.0,
  3: 1.787037037037037,
  4: 2.0245901639344264,
  5: 2.019047619047619,
  6: 2.0,
  7: 1.9516129032258065,
  8: 1.8396946564885497,
  9: 1.8762886597938144,
  10: 1.7124999999999999,
  11: 1.7058823529411764,
  12: 1.7808219178082192}}

In [199]:
df_d = pd.read_csv('data/final/demand_all_features.csv', parse_dates=['date'], infer_datetime_format=True)

,date,terminal,hour,count,TEMP,SPD,PCP01,CLG,VSB,DEWP,SLP,STP,dockcount,elevation,cluster,ecosystem
0,2015-01-01,BT-01,Afternoon,6,29.000000,2.800000,0.000000,722.000000,10.000000,22.000000,1028.520000,1011.500000,18,37.351780,5,0
1,2015-01-01,BT-01,Commute_from_work,1,31.500000,0.750000,0.000000,722.000000,10.000000,23.000000,1028.000000,1010.925000,18,37.351780,5,0
2,2015-01-01,BT-01,Commute_to_work,0,30.500000,7.500000,0.000000,722.000000,10.000000,22.500000,1030.600000,1013.575000,18,37.351780,5,0
3,2015-01-01,BT-01,Early,0,33.571429,9.285714,0.000000,722.000000,10.000000,21.285714,1032.942857,1015.850000,18,37.351780,5,0
4,2015-01-01,BT-01,Night,5,40.250000,3.750000,0.000000,722.000000,10.000000,23.000000,1026.125000,1009.225000,18,37.351780,5,0
5,2015-01-02,BT-01,Afternoon,4,41.400000,4.800000,0.000000,61.600000,3.960000,40.100000,1018.860000,1002.100000,18,37.351780,5,0
6,2015-01-02,BT-01,Commute_from_work,0,43.250000,5.875000,0.010000,52.750000,6.000000,40.375000,1018.275000,1001.625000,18,37.351780,5,0
7,2015-01-02,BT-01,Commute_to_work,0,42.250000,3.250000,0.000000,268.000000,7.000000,39.500000,1019.775000,1003.225000,18,37.351780,5,0
8,2015-01-02,BT-01,Early,1,43.142857,4.000000,0.000000,34.857143,6.557143,39.571429,1021.942857,1005.142857,18,37.351780,5,0
9,2015-01-02,BT-01,Night,0,44.500000,5.500000,0.010000,8.750000,5.725000,41.875000,1018.250000,1001.650000,18,37.351780,5,0
10,2015-01-03,BT-01,Afternoon,0,36.000000,5.000000,0.000000,722.000000,10.000000,28.600000,1024.620000,1007.870000,18,37.351780,5,0
11,2015-01-03,BT-01,Commute_from_work,3,43.250000,5.000000,0.000000,722.000000,10.000000,29.500000,1023.950000,1007.237500,18,37.351780,5,0
12,2015-01-03,BT-01,Commute_to_work,1,40.000000,4.500000,0.000000,722.000000,10.000000,27.750000,1024.925000,1008.300000,18,37.351780,5,0
13,2015-01-03,BT-01,Early,0,47.571429,8.285714,0.000000,722.000000,10.000000,24.714286,1023.457143,1006.671429,18,37.351780,5,0
14,2015-01-03,BT-01,Night,0,50.750000,5.250000,0.000000,147.500000,10.000000,28.250000,1020.700000,1004.075000,18,37.351780,5,0
15,2015-01-04,BT-01,Afternoon,3,42.600000,8.000000,0.000000,296.600000,10.000000,37.400000,1025.520000,1008.750000,18,37.351780,5,0
16,2015-01-04,BT-01,Commute_from_work,4,47.250000,8.250000,0.000000,106.750000,10.000000,37.750000,1026.750000,1009.887500,18,37.351780,5,0
17,2015-01-04,BT-01,Commute_to_work,1,44.750000,7.375000,0.000000,16.750000,10.000000,38.750000,1024.375000,1007.700000,18,37.351780,5,0
18,2015-01-04,BT-01,Early,0,47.428571,7.857143,0.005000,127.142857,10.000000,39.571429,1022.000000,1005.342857,18,37.351780,5,0
19,2015-01-04,BT-01,Night,0,51.000000,7.750000,0.006667,118.250000,9.125000,37.625000,1025.725000,1009.050000,18,37.351780,5,0
20,2015-01-05,BT-01,Afternoon,3,50.400000,5.000000,0.000000,388.800000,10.000000,44.200000,1019.200000,1002.690000,18,37.351780,5,0
21,2015-01-05,BT-01,Commute_from_work,6,57.750000,5.500000,0.000000,722.000000,10.000000,46.500000,1018.925000,1002.425000,18,37.351780,5,0
22,2015-01-05,BT-01,Commute_to_work,4,53.250000,8.250000,0.000000,200.000000,10.000000,41.250000,1020.375000,1003.975000,18,37.351780,5,0
23,2015-01-05,BT-01,Early,0,58.142857,2.571429,0.000000,303.142857,10.000000,38.857143,1021.971429,1005.385714,18,37.351780,5,0
24,2015-01-05,BT-01,Night,0,62.500000,5.250000,0.000000,368.000000,10.000000,44.750000,1018.125000,1001.700000,18,37.351780,5,0
25,2015-01-06,BT-01,Afternoon,1,54.600000,9.200000,0.000000,293.800000,9.400000,49.800000,1012.080000,995.850000,18,37.351780,5,0
26,2015-01-06,BT-01,Commute_from_work,1,54.625000,6.708333,0.042500,18.500000,8.025000,51.875000,1014.100000,997.733333,18,37.351780,5,0
27,2015-01-06,BT-01,Commute_to_work,1,59.250000,0.000000,0.000000,338.000000,10.000000,47.500000,1009.600000,993.425000,18,37.351780,5,0
28,2015-01-06,BT-01,Early,0,68.428571,7.000000,0.000000,197.142857,10.000000,47.142857,1009.200000,992.950000,18,37.351780,5,0
29,2015-01-06,BT-01,Night,1,57.875000,8.125000,0.002500,24.750000,10.000000,51.875000,1014.475000,998.175000,18,37.351780,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83382,2015-05-31,WF-04,Afternoon,6,54.800000,1.000000,0.000000,146.000000,10.000000,50.200000,1013.360000,997.110000,18,5.188225,2,0
83383,2015-05-31,WF-04,Commute_from_work,0,61.500000,6.750000,0.000000,142.500000,10.000000,52.000000,1012.725000,996.362500,18,5.188225,2,0
83384,2015-05-31,WF-04,Commute_to_work,2,55.750000,2.250000,0.000000,461.000000,10.000000,49.750000,1014.275000,998.025000,18,5.188225,2,0
83385,2015-05-31,WF-04,Early,0,67.428571,3.285714,0.000000,722.000000,10.000000,47.428571,1013.557143,997.228571,18,5.188225,2,0
83386,2015-05-31,WF-04,Night,1,71.500000,7.750000,0.000000,217.500000,10.000000,51.250000,1011.125000,995.025000,18,5.188225,2,0
83387,2015-07-31,WF-04,Afternoon,7,67.600000,1.200000,0.000000,722.000000,10.000000,49.400000,1019.000000,1002.880000,18,5.188225,2,0
83388,2015-07-31,WF-04,Commute_from_work,6,79.750000,3.750000,0.000000,722.000000,10.000000,49.000000,1019.675000,1003.562500,18,5.188225,2,0
83389,2015-07-31,WF-04,Commute_to_work,5,74.250000,8.500000,0.000000,722.000000,10.000000,48.750000,1018.050000,1001.950000,18,5.188225,2,0
83390,2015-07-31,WF-04,Early,0,86.000000,9.000000,0.000000,722.000000,10.000000,43.142857,1017.300000,1001.192857,18,5.188225,2,0
83391,2015-07-31,WF-04,Night,3,90.500000,8.000000,0.000000,722.000000,10.000000,42.750000,1018.100000,1002.050000,18,5.188225,2,0
83392,2015-08-31,WF-04,Afternoon,3,62.000000,13.000000,0.000000,31.400000,10.000000,49.800000,1015.200000,998.990000,18,5.188225,2,0
83393,2015-08-31,WF-04,Commute_from_work,2,62.250000,14.750000,0.000000,35.250000,10.000000,53.250000,1016.000000,999.637500,18,5.188225,2,0
83394,2015-08-31,WF-04,Commute_to_work,1,62.250000,12.750000,0.000000,70.000000,10.000000,49.500000,1016.250000,1000.025000,18,5.188225,2,0
83395,2015-08-31,WF-04,Early,0,63.857143,10.714286,0.000000,100.714286,10.000000,51.571429,1016.214286,999.850000,18,5.188225,2,0
83396,2015-08-31,WF-04,Night,0,64.000000,13.125000,0.000000,45.750000,10.000000,55.250000,1015.425000,999.275000,18,5.188225,2,0
83397,2014-10-31,WF-04,Afternoon,0,50.600000,3.000000,0.038000,22.400000,5.700000,49.000000,1006.760000,990.500000,18,5.188225,2,0
83398,2014-10-31,WF-04,Commute_from_work,1,51.000000,6.000000,0.085000,6.250000,5.375000,49.000000,1009.550000,993.212500,18,5.188225,2,0
83399,2014-10-31,WF-04,Commute_to_work,0,52.000000,3.000000,0.095000,38.500000,6.150000,50.625000,1008.875000,992.600000,18,5.188225,2,0
83400,2014-10-31,WF-04,Early,0,55.714286,6.000000,0.047286,34.857143,8.571429,53.428571,1008.857143,992.550000,18,5.188225,2,0
83401,2014-10-31,WF-04,Night,0,52.750000,8.250000,0.000000,76.500000,10.000000,48.250000,1010.925000,994.700000,18,5.188225,2,0
83402,2015-10-31,WF-04,Afternoon,0,59.100000,19.000000,0.040000,12.600000,9.420000,56.400000,1003.820000,987.750000,18,5.188225,2,0
83403,2015-10-31,WF-04,Commute_from_work,0,58.375000,20.041667,0.087500,26.125000,6.400000,54.916667,1003.675000,987.433333,18,5.188225,2,0
83404,2015-10-31,WF-04,Commute_to_work,0,56.250000,11.750000,0.165000,3.250000,2.750000,54.875000,1005.975000,989.850000,18,5.188225,2,0
83405,2015-10-31,WF-04,Early,0,57.119048,8.690476,0.023333,77.428571,8.700000,52.047619,1010.557143,994.219048,18,5.188225,2,0
83406,2015-10-31,WF-04,Night,0,54.125000,12.500000,0.037500,68.750000,9.000000,51.125000,1005.975000,989.775000,18,5.188225,2,0
83407,2014-12-31,WF-04,Afternoon,4,28.600000,1.600000,0.000000,268.400000,10.000000,20.000000,1039.120000,1021.890000,18,5.188225,2,0
83408,2014-12-31,WF-04,Commute_from_work,1,31.250000,7.250000,0.000000,722.000000,10.000000,20.750000,1037.650000,1020.437500,18,5.188225,2,0
83409,2014-12-31,WF-04,Commute_to_work,0,29.750000,2.750000,0.000000,323.000000,10.000000,18.250000,1041.250000,1024.125000,18,5.188225,2,0
83410,2014-12-31,WF-04,Early,0,31.857143,7.428571,0.000000,722.000000,10.000000,15.857143,1042.971429,1025.642857,18,5.188225,2,0
83411,2014-12-31,WF-04,Night,0,37.250000,8.500000,0.000000,722.000000,10.000000,19.500000,1035.350000,1018.175000,18,5.188225,2,0